html {
  display: block;
}
body {
  display: block;
  margin: 0px;
  padding:0px;
}
header{
    height: 68px;
    background-color: #CA0007;
    line-height: 42px;
}
#logo {
    color: #FFF;
    margin:10 165px;
    font-size: 35px;
    float: left;
}
#word{
    color: #FFF;
    float: right;
    margin-right: 100px;
    font-size: 0px;
}
#word li.current {
    background-color: #FFF;
}
#word li{
    display: inline-block;
    padding: 12px 21px;
    font-size: 20px;
}
#word li.current>a {
  color: #CA0007;
  text-decoration: none;
}
#word li>a {
  color: #FFF;
}
#gallery{
    height: 300px;
    background-color: #66CEEC;
    height: 436px;
    position: relative;
}
#gallery .pics{
    color:#FFF;
    position:absolute;
    font-size:65px;
    top:100px;
}
#gallery .pics img{
    height:438px;
    width:132%;
    margin-top:-100px;
}
#gallery .bar{
    position:absolute;
    top: 331px;
    left: 125px;
}
#gallery .bar li{
    display:inline-block;
    border-top: 5px solid #FFF;
    width: 36px;

}
#gallery .bar li.current{
    border-color:#CA0007;
}
#middle ul{
    text-align: center;
    margin-top: 27px;
}
#middle li {
    display: inline-block;
    height: 155px;
    width: 186px;
    border-radius: 100%;
    margin: 19px 25px;
}
#middle .link li.a{
    margin-top:20px;
    font-size:20px;
    color:#FFFFFF;
    background-color:#E56936;
}
#middle .link li.b{
    margin-top:20px;
    font-size:20px;
    color:#FFFFFF;
    background-color:red;
}
#middle .link li.c{
    margin-top:20px;
    font-size:20px;
    color:#FFFFFF;
    background-color:#1BA7CC;
}
#middle .link li.d{
    margin-top:20px;
    font-size:20px;
    color:#FFFFFF;
    background-color:#DA3CEA;
}
#new {
    height: 374px;
    padding-left: 185px;
    background-color: #F3F3F3;
}
#new .left{
    float: left;
    height: 374px;
    width: 322px;
    padding-top: -9px;
    width: 322px;
    font-size: 24px;
    font-weight: bold; /*字体的宽度*/
    color: red;
}
#new .left .left {
    background:#D85B5B;
    margin: -17px;
    width:289px;
    height: 252px;
}
#new .left .left img{
    margin-top:1px;
    width:289px;
    height: 252px;
}
#new .midd {
  float: left;
  height: 374px;
  width: 550px;
}
#new li{
    float:right;
    margin:4px;
}
#new .midd-mid {
  padding-left: 20px;
  width: 530px;
  height: 75px;
  float: left;
}
#new .midd-mid p{
    color:red;
    font-weight:bold;
}
#new .midd-mid h5{
    margin-top: -13px;;
}
#new .midd-but {
  width: 550px;
  height: 225px;
  float: left;
}
#new .midd-but ul li{
    margin-left:-19px;
    float:left;
}
#new .right {
  float: left;
  height: 374px;
  width: 255px;
}
#new .right ul{
    margin-top:67px;
}
#new .right li {
    margin: 7px;
    padding-top: 9px;
    height: 36px;
    width: 207px;
    border-radius: 6%;
    margin-left: 20px;
}
#new .right li.e{

    background-color:#E56936;
    color:#FFFFFF;
    font-size:13px;
    text-align:center;
}
#new .right li.f{
    background-color:red;
    color:#FFFFFF;
    font-size:13px;
    text-align:center;
}
#new .right li.g{
    background-color:#7DBB0A;
    font-size:13px;
    color:#FFFFFF;
    text-align:center;
}
#new .right li.h{
    background-color:#DA3CEA;
    color:#FFFFFF;
    font-size:13px;
    text-align:center;
}
#picture{
    height: 480px;
    padding-left: 185px;
    background-color: #FFF;
}
#picture .new{
    float:left;
    font-weight:bold;
    font-size:19px;
    color:#E20A30;
}
#picture .mid-picture {
    float:left;
    width: 1115px;
    height: 400px;
}
#picture .mid-picture img{
    width: 340px;
    height: 180px;
}
#picture .mid-picture ul{
    margin-left: -68px;
    width: 1100px;
    height: 400px;
}
#picture .mid-picture ul li {
  list-style: none;
  margin: 8px;
  float: left;
  width: 340px;
  height: 180px;
}
#web{
    height: 50px;
    width:100%;
    padding-left: 185px; /*边距向左185*/
}
#web .web-pic{
    float:left;
    font-weight:bold;
    font-size:19px;
    color:#E20A30;
}
#web1{
    height:100px;
    width:100%;
    padding-left: 185px; /*边距向左185*/
}
#web1 .web1-tp{
    margin-left:
}
#web1 .web1-tp img{
    margin-left:2px;
    height:150px;
    width:200px;
}
#web1 .web1-tp ul{
    margin-left: -53px;
    margin-top: 40px;
}
#web1 .web1-tp ul li {
    border: 1px solid #aaa;
    margin-left: 190px;
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
footer {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    border: 1px solid #aaa;
    background: #4C4C4C;
}
footer p{
    padding-left:300px;
    color:#FFFFFF;
}
